<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Css Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-rtl.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <!-- CSS File -->
    <link rel="icon" type="image/png" href="images/book.png">
    <link rel="stylesheet" href="css/style.css" />
    <!-- JQuery File -->
    <script src="js/jquery-3.2.1.min.js" defer></script>
    <!-- Popper File -->
    <script src="js/popper.min.js" defer></script>
    <!-- Bootstrap File -->
    <script src="js/bootstrap.min.js" defer></script>
    <!-- Js File -->
    <script src="js/main.js" defer></script>
    <title>BookLand</title>
</head>

<body>
    <!-- Start Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><i class="fa fa-book"></i> BookLand</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">ألصفحة الرئيسية</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">الأقسام</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">نواصل معنا</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Start Book Section -->
    <div class="books">
        <div class="row">
            <div class="col-lg-6 col-md-12"><img src="images/b1.jpg" alt=""></div>
            <div class="col-lg-6 col-md-12">
                <h1>اولاد حارتنا</h1>
                <p>أولاد حارتنا هي رواية من تأليف نجيب محفوظ الحائز على جائزة نوبل للآداب عام 1988، وتُعد إحدى أشهر رواياته وكانت إحدى المؤلفات التي تم التنويه بها عند منحه جائزة نوبل</p>
                <a href="#" class="btn btn-primary">تحميل الكتاب</a>
            </div>
        </div>
    </div>

    <!-- Start Related Books -->
    <div class="related-books">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="related-book">
                    <img src="images/b1.jpg" alt="book cover">
                    <h4>اولاد حارتنا</h4>
                    <a href="#">صفحة الكتاب</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="related-book">
                    <img src="images/b2.jpg" alt="book cover">
                    <h4>قلادة مردوخ</h4>
                    <a href="#">صفحة الكتاب</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="related-book">
                    <img src="images/b3.jpg" alt="book cover">
                    <h4>الغول الاحمر الاخير</h4>
                    <a href="#">صفحة الكتاب</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="related-book">
                    <img src="images/b4.jpg" alt="book cover">
                    <h4>كوجو</h4>
                    <a href="#">صفحة الكتاب</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="related-book">
                    <img src="images/b5.jpg" alt="book cover">
                    <h4>علبة السعادة</h4>
                    <a href="#">صفحة الكتاب</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="related-book">
                    <img src="images/b6.jpg" alt="book cover">
                    <h4>فرعون ذو الوتاد</h4>
                    <a href="#">صفحة الكتاب</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="related-book">
                    <img src="images/b7.jpg" alt="book cover">
                    <h4>عودة الروح</h4>
                    <a href="#">صفحة الكتاب</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="related-book">
                    <img src="images/b8.jpg" alt="book cover">
                    <h4>الجيل الثالث</h4>
                    <a href="#">صفحة الكتاب</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Footer -->
    <footer class="text-center">جميع الحقوق محفوظة &copy; 2020</footer>
</body>

</html>