<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-rtl.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- CSS File -->
    <link rel="icon" type="image/png" href="images/book.png">
    <link rel="stylesheet" href="css/style.css">
    <!-- JQuery File -->
    <script src="js/jquery-3.2.1.min.js" defer></script>
    <!-- Popper File -->
    <script src="js/popper.min.js" defer></script>
    <!-- Bootstrap File -->
    <script src="js/bootstrap.min.js" defer></script>
    <!-- Js File -->
    <script src="js/main.js" defer></script>
    <title>BookLand</title>
  </head>
  <body>
    <!-- Start Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index.html"><i class="fa fa-book"></i> BookLand</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">ألصفحة الرئيسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">الأقسام</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">نواصل معنا</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Start Banner -->
    <div class="banner">
      <h1>حمل العشرات من الكتب مجانا</h1>
      <h2>من اجل نشر المعرفة والثقافة, وغرس حب القراءة بين المتحدثين باللغة العربية</h2>
    </div>

    <!-- Start Book Cards -->
    <div class="boox text-center">
      <div class="row">
        <!-- Book -->
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card" style="width: 18rem;">
            <img src="images/b1.jpg" class="card-img-top" alt="The Book">
            <div class="card-body">
              <h5 class="card-title">اولاد حارتنا</h5>
              <p class="card-text">أولاد حارتنا هي رواية من تأليف نجيب محفوظ الحائز على جائزة نوبل للآداب عام 1988، وتُعد إحدى أشهر رواياته وكانت إحدى المؤلفات التي تم التنويه بها عند منحه جائزة نوبل</p>
              <a href="book.html" class="btn btn-primary">صفحة الكتاب</a>
            </div>
          </div>
        </div>
        <!-- Book -->
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card" style="width: 18rem;">
            <img src="images/b2.jpg" class="card-img-top" alt="The Book">
            <div class="card-body">
              <h5 class="card-title">قلادة مردوخ</h5>
              <p class="card-text">كم تمنى أن تعود به الأيام ليحاول بكل جهده أن يحد من سلطة «مردوخ» وكهنته، حتى لو بتعظيم آلهة أخرى، لكن الوقت قد فات لذلك</p>
              <a href="book.html" class="btn btn-primary">صفحة الكتاب</a>
            </div>
          </div>
        </div>
        <!-- Book -->
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card" style="width: 18rem;">
            <img src="images/b3.jpg" class="card-img-top" alt="The Book">
            <div class="card-body">
              <h5 class="card-title">الغول الحمر الاخير</h5>
              <p class="card-text">قال في سأم دعك من أساطير الغيلان عن الملكيين والمخفيين كل الغيلان هلكوا لم يبق منهم سواك قلت أنت الغول لا أنا قال بل أعلنك غولا أحمر بصفتي الغول الأحمر الأخير</p>
              <a href="book.html" class="btn btn-primary">صفحة الكتاب</a>
            </div>
          </div>
        </div>
        <!-- Book -->
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card" style="width: 18rem;">
            <img src="images/b4.jpg" class="card-img-top" alt="The Book">
            <div class="card-body">
              <h5 class="card-title">كوجو</h5>
              <p class="card-text">لم يرغب ‏كوجو بقتل أي شخص. ولكن أصابه شيء جعله كلبٌ مسعور يقتل أربعة أشخاص في ‏عهد إرهاب غريب امتدّ لثلاثة أيام وأكثر</p>
              <a href="book.html" class="btn btn-primary">صفحة الكتاب</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Start Footer -->
    <footer class="text-center">جميع الحقوق محفوظة &copy; 2020</footer>
  </body>
</html>